<ion-view>
    <div class="bar bar-header">
      <a ng-click="go('start')" class="button icon-left ion-chevron-left button-clear button-light">zrügg</a>
  </div>
<ion-content overflow-scroll="true">
      <div class="logo animated zoomIn">
    <img src="img/bern.png" alt="" />
  </div>
  <div class="about">
      <h4 class="animated zoomIn">Bärndütsch ist ein Projekt von appproject.ch. <br><br></h4>
  </div>


</ion-content>
</ion-view>
