<ion-view ng-init="getWord()">
<ion-content overflow-scroll="true">
  <div class="bar bar-header">
    <a ng-click="go('start')" class="button icon-left ion-chevron-left button-clear button-light">zrügg</a>
</div>
  <div class="cont" ng-if="!content">
      <br ng-if="!content">
      <br ng-if="!content">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>
  <div class="center" ng-repeat="cat in content" ng-if="cat.wordnum != null">
  <h1 class="animated zoomIn">#{{cat.wordnum}}</h1>
  <h2 class="animated zoomIn">{{cat.word}}</h2>
  <h3 class="animated zoomIn" ng-click="showex = true">Hä?</h3>
  <h4 class="animated fadeIn bubble" ng-if="showex" ng-click="showex = false">{{cat.wordex}}</h4>
  </div>
  <img src="img/neu.png" ng-click="getWord()"alt="" class="neu animated bounceIn">


</ion-content>

</ion-view>
