<ion-view>
<ion-content scroll="false">
  <div class="bar bar-header">
    <a ng-click="go('start')" class="button icon-left ion-chevron-left button-clear button-light">zrügg</a>
  <h1 class="title">Bärndütsch</h1>
</div>
<div class="bar bar-subheader">
  <label class="item item-input">
  <i class="icon ion-search placeholder-icon"></i>
  <input type="search" placeholder="sueche..." ng-model="search.wordex" ng-model-options="{debounce: 500}">
  </label>
</div>
</ion-content>
<ion-content overflow-scroll="true" class="has-header has-subheader">
  <div collection-repeat="cat in locations | filter:search" class="card-elem animated fadeIn">
    <h1 class="animated fadeIn">{{cat.wordex}}</h1>
    <p>{{cat.word}}</p>
  </div>






</ion-content>
</ion-view>
