/* Empty. Add your own CSS if you like */
@import 'https://fonts.googleapis.com/css?family=Dosis';

ion-content {
background-color: #C40000;
}
.bar-header {
  background: #C40000;
}

.title {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 4vh !important;
}
.bar {
  background: #C40000;
}

.nav h4 {
  color: white;
  font-family: "Dosis", sans-serif;
  float: left;
  margin-left: 5vw;
  margin-top: 2.5vh;
  z-index: 99999;
}
.button-icon {
  color: white;
}
.logo img {
  height: 30vh;
  display: block;
  margin: auto;
  margin-top: 10vh;
}

.btn1 {
  font-family: "Teko", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 7vw;
  left: 0;
    right: 0;
    text-align: center;
    width: 80vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border: 1px solid white;
  padding: 4vh;
  border-radius: 5px;
}
.btn2{
  font-family: "Teko", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 7vw;
  left: 0;
    right: 0;
    text-align: center;
    width: 80vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  border: 1px solid white;
  padding: 4vh;
  border-radius: 5px;
}
.btn3{
  font-family: "Teko", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 7vw;
  left: 0;
  right: 0;
  text-align: center;
  width: 80vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35vh;
  border: 1px solid white;
  padding: 4vh;
  border-radius: 5px;
}

.nav button {
  margin-top: 1vh !important;
  margin-left: 2vw !important;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  z-index: 99999;
}

.nav h1 {
  margin-top: 2vh !important;
  margin-right: 5vw !important;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  float: right;
  position: relative;
  color: white;
  font-weight: lighter;
  font-size: 6vw;
  z-index: 99999;
}

.center {
  width: 100%;
  height: 80%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}
.center h1 {
  color: white;
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 10vw;
  margin-top: 15vh;

}
.neu {
  position: absolute;
  left: 0;
  right: 0;
  top: 85vh;
  height: 10vh !important;
  display: block;
  margin: auto;
}
.center h2 {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 20vw;
  margin-bottom: 3vh;
}
.center h3 {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 10vw;
}
.center h4 {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: 6vw;
  padding: 2.2vh;
}
.center img {
  height: 4vh;
  vertical-align: middle;
}
.like span{
  color: white;
  display: inline-block
}

.bubble
{
position: absolute;
left: 0;
right: 0;
top: 30vh;
margin: auto;
width: 67vw;
height: 15vh;
line-height: 10vh;
margin-top: 25vh;
background: #8E0000;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

::-webkit-input-placeholder {
   color: white !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: white !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: white !important;
}

:-ms-input-placeholder {
  color: white !important;
}

.item {
  background: #6B0505;
  color: white;
  border: none;
  width: 100vw !important

}
.input-label {
  color: white;
  width: 100vw !important

}
.ion-search {
  color: white;
}

input {
  color: white !important;
  width: 100vw !important
}
.card-elem {
  height: 16vh;
  width: 100vw;
  position: relative;
  border-bottom: 1px solid white;
}
.card-elem h1 {
  color: white;
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  font-size: 7vw;
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vw;
}
.card-elem p {
  color: white;
  font-weight: normal;
  font-family: "Dosis", sans-serif;
  font-size: 5vw;
  position: absolute;
  margin-top: 8vh;
  margin-left: 3vw;
}



.popup-head{
background: white;
}
.popup-title {
}

.popup-body{
    background: white;
    text-align: center;
}
.about h4 {
    font-family: "Dosis", sans-serif;
    text-align: center;
    color: white;
    font-size: 5vw;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;

}

.popup-buttons {
background: white;
}
.popup-buttons .button {
    background: #A90404 !important;
}
.popup-buttons .button:active {
    background: #6B0505 !important;
}
.popup-buttons .button:focus {
    background: #6B0505;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
