<ion-view ng-init="ini()">
<ion-content overflow-scroll="true">
  <div>
      <div class="logo animated zoomIn">
    <img src="img/bern.png" alt="" />
  </div>
  <a><div class="btn1 animated zoomIn" ng-click="go('home')">
    Bärndütsch
    </div></a>
  <a ><div class="btn2 animated zoomIn" ng-click="go('words')">
    Wörterbuech
  </div></a>
  <a><div class="btn3 animated zoomIn" ng-click="go('about')">
    Über das App
  </div></a>
</div>

</ion-content>
</ion-view>
